@{
    ViewBag.Title = "About";
}
<h2>Goal</h2>

<p>As a business apps developer, how do I make things better, so I become a happier</p>
<p>This site aims to do this by</p>
<ul>
    <li>Being pragmatic</li>
    <li>Example led</li>
    <li>Inspired by:</li>
    <ul>
        <li>Scott Gu - Screenshots, code and minimal talking :-) <a href="https://weblogs.asp.net/scottgu/introducing-asp-net-5">link</a></li>
        <li>Scott Hanselman - Fonts, whitespace, screenshots, code, colours, lovely highlighting so I can glance at an article! <a href="http://www.hanselman.com/blog/UsingRedisAsAServiceInAzureToSpeedUpASPNETApplications.aspx">link</a></li>
        <li>Elon Musk - I aim this home page to contain the principles of refactoring to good code. <a href="http://lifehacker.com/elon-musk-on-learning-new-things-view-knowledge-as-a-t-1677850415">link</a></li>
    </ul>
</ul>

<p>What makes a happy 'enterprise' developer?</p>
<ul>
    <li>'Good' code</li>
    <li>Clean code</li>
    <li>Easy deployment</li>
    <li>No surprises ie requirements don't change much</li>
    <li>Relaxed attitudes</li>
    <li>Continual learning</li>
    <li>Knowing you're doing it 'right'</li>
</ul>

<p>What makes a happy 'enterprise' manager?</p>
<ul>
    <li>No surprises from developers</li>
    <li>Good communciation</li>
    <li>Can look good in front of their boss</li>
    <li>Continual improvement (features?) in projects</li>
</ul>

<p>Why Refactor?</p>
<ul>
    <li>Takes too long to add new features</li>
    <li>When adding new features, other code breaks</li>
</ul>



<h2>Technology in this Site</h2>
<p>I will be using the same tooling as I do in my enterprise day job to write this site, with some exceptions!</p>
<ul>
    <li>ASP.NET MVC5 (not the latest ASP.NET5, MVC6 EF7 stack!)</li>
    <li>VS2015 (project upgraded from a VS2013 MVC app - however VS2015 works just as well using ASP.NET 4.6 template)</li>
    <li>Bootstrap theme - Yeti from <a href="http://bootswatch.com/">http://bootswatch.com/</a></li>
    <li>Source Control - <a href="https://github.com/djhmateer/RefactoringBusiness">https://github.com/djhmateer/RefactoringBusiness</a> </li>
    <li>Continuous Integration / Build server: <a href="https://ci.appveyor.com/project/djhmateer/refactoringbusiness">https://ci.appveyor.com/project/djhmateer/refactoringbusiness</a> </li>
    <li>Continuous Deployment to Azure <a href="http://refactoring.azurewebsites.net/">http://refactoring.azurewebsites.net/</a> </li>
    <li>Website availability monitoring <a href="https://uptimerobot.com">https://uptimerobot.com</a></li>
    <li>Analysis of who does what on the site<a href="http://analytics.google.com">http://analytics.google.com</a></li>
    <li>Performance - MiniProfiler (todo)<a href="http://miniprofiler.com/">http://miniprofiler.com/</a></li>
    <li>Performance - Caching (todo)</li>
</ul>

<h3>Workflow</h3>
<p>Am currently pushing to github master, which then calls Appveyor and Azure at the same time.  So if a build fails it will be pushed to live.  However this is very useful in 'dev' to get the site up asap...</p>

<h3>Appveyor Build Status</h3>
<p><img src="https://ci.appveyor.com/api/projects/status/tw9vblyoxv60xs9c?svg=true"/></p>

