
@{
    ViewBag.Title = "GoodCode";
}

<h1>Well Factored Code</h1>
<p></p>

<ul>
    <li>
        <a href="http://booktech.azurewebsites.net/">http://booktech.azurewebsites.net/</a> with source on: <a href="https://bitbucket.org/davemateer/booktech">https://bitbucket.org/davemateer/booktech</a>. It is a proof of concept for a real world application.
        <ul>
            <li>Unit, Integration and UI Tests</li>
            <li>Short methods</li>
            <li>Considered exception handling</li>
            <li>ASP.NET MVC5, Dapper with Stored Procs on MSSQL, log4net</li>
            <li>Continuous integration and testing with Appveyor</li>
            <li>Continuous deployment to Azure</li>
        </ul>
    </li>
</ul>

