@{
    ViewBag.Title = "Refactoring C#";
}

@*<div class="jumbotron">
        <h1>Refactoring C#</h1>
        <p class="lead">Making the Enterprise developer happy!</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-3">
        <h2>Refactoring</h2>
        <p><a href="/Page/SourceControl" title="Is there a 'feature' that is missing eg  easy to change the codebase - compared to other software eg how quickly can I make a change?  Will explore the common pain points eg:  Features take a long time to dev, The codebase is hard to work with because it is complex, How to quantify what a 'good' codebase looks like eg cyclomatic complexity">a - Does it need refactoring?</a></p>
        <p><a href="/Page/SourceControl">0 - Source Control</a></p>
        <p><a href="/Page/SourceControl">1 - Rename mercilessly</a></p>
        <p><a href="/Page/SourceControl">2 - R# suggestions</a></p>
        <p><a href="/Page/SourceControl">3 - Comments</a></p>
        <p><a href="/Page/SourceControl">4 - Dead code (must die)</a></p>
        <p><a href="/Page/SourceControl">5 - Break up long methods</a></p>
        <p><a href="/Page/SourceControl">6 - Unit Test</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bits</h2>
        <p><a href="/Page/SourceControl">Exception handling</a></p>
        <p><a href="/Page/SourceControl">Log (mercilessly)</a></p>
        <p><a href="/Page/SourceControl">Integration and Site Testing</a></p>
    </div>
    <div class="col-md-3">
        <h2>Arch</h2>
        <p>
            <a href="/Page/SourceControl">Favour composition</a>
        </p>
        <p>
            <a href="/Page/SourceControl">CQS</a>
        </p>
        <p>
            <a href="/Page/SourceControl">Null references - Maybe?</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Deploy / DevOps</h2>
        <p><a href="/Page/SourceControl">Deploy fast!</a></p>
        <p><a href="/Page/SourceControl">Continuous Integration / Deployment</a></p>
        <p><a href="/Page/SourceControl">Dev/Test/UAT/Prod</a></p>
        <p><a href="/Page/SourceControl">Monitoring - Stash / Kibana</a></p>
    </div>
</div>