body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4c4c4c;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Override bootstrap yeti*/
blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 14.75px;
  border-left: 5px solid #dddddd;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px
  }
}

h1, .h1 {
    font-size: 20px;
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2, .h2 {
    font-size: 18px;
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h3, .h3 {
    font-size: 16px;
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
}


p {
    margin: 0 0 5.5px;
}

pre {
    font-size: 13px;
    background-color: #f1e8e2;

}

pre.prettyprint {
    border: 5px solid #888;
}