@*@model IEnumerable<Joke>*@

@{ViewBag.Title = "ORM";}

<h1>ORMs</h1>

<ul>
    <li>Entity Framework (EF)</li>
    <li>Dapper</li>
    <li>Roll your own</li>
</ul>

<p>Lets consider <b>why we use an ORM</b> in data centric apps (which is what I do in my business apps career)</p>
<ul>
    <li>Avoid wasted effort with boilderplate SQL</li>
    <li>Can write simple apps fast</li>
</ul>

<p>Here is an example of the standard ASP.NET4.6(not the new stuff), MVC5, EF6 CRUD app <a href="https://app.pluralsight.com/library/courses/entity-framework-6-getting-started/table-of-contents">https://app.pluralsight.com/library/courses/entity-framework-6-getting-started/table-of-contents</a></p>

<p>March 2015 EF6.1.3 - 750k downloads</p>
<pre>
public ActionResult ORM()
{
    // Read from a database
    List<Joke> listOfJokes;
    using (var context = new DavesJokes())
    {
        listOfJokes = context.Jokes.Take(5).ToList();
    }
    return View(listOfJokes);
}
</pre>

<p>EF reading from a database</p>
ConnectionString: @ViewBag.ConnectionString

@*@foreach (var joke in Model)
{
    <blockquote>
        @joke.Title<br/>
        @joke.Content
    </blockquote>
}*@
